<!doctype html>
<html lang="en" ng-app="UserApp">
<head>
    <meta charset="UTF-8">
    <title>To The Moon</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/vendor/leaflet/dist/leaflet.css">
</head>
<body>
    <div class="main-page" ng-controller="userController">
        <section class="map">
            <section class="controls-overlay">
                <div class="logo control-element">
                    <img class="logo-img" src="/static/images/TTM-logo.png"/>
                </div>
                <div class="side-menu control-element">
                    <span class="menu-buttons">
                        <input id="profile-tab" name="currentTab" ng-model="currentTab" type="radio" value="profile"/><label for="profile-tab"><img src="/static/images/icon-profile.png"></label>
                        <input id="races-tab" name="currentTab" ng-model="currentTab" type="radio" value="races"/><label for="races-tab"><img src="/static/images/icon-mission.png"></label>
                        <input id="toTheMoon-tab" name="currentTab" ng-model="currentTab" type="radio" value="toTheMoon"/><label for="toTheMoon-tab"><img src="/static/images/icon-moon.png"></label>
                    </span>
                    <span ng-switch on="currentTab" class="menu-display">

                        <!--no templates or nothing? yeah, this really is quick and dirty; mostly dirty-->
                        <div class="profile" ng-switch-when="profile">
                            <div ng-include src="'/static/profile.html'"></div>
                        </div>
                        <div ng-switch-when="races">Races</div>
                        <div ng-switch-when="toTheMoon">Moon</div>

                        <div ng-switch-default></div>
                    </span>
                </div>
            </section>

            <section class="map-container">
                <div id="map" style="width: 100%; height: 100%; z-index: -1; position: absolute;">
                </div>
            </section>
        </section>
    </div>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.1/leaflet.js"></script>
    <script src="/static/vendor/d3/d3.min.js"></script>
    <script src="/static/vendor/angular/angular.min.js"></script>
    <script src="/static/js/apps/userapp.js"></script>
    <script src="/static/js/controllers/userController.js"></script>
    <script src="/static/js/services/userService.js"></script>
    <script src="/static/vendor/jquery/dist/jquery.js"></script>
    <script src="/static/js/apps/mapDraw.js"></script>
</body>
</html>