<header>Profile</header>
<section class="personal-info">
    <svg
       xmlns:dc="http://purl.org/dc/elements/1.1/"
       xmlns:cc="http://creativecommons.org/ns#"
       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:svg="http://www.w3.org/2000/svg"
       xmlns="http://www.w3.org/2000/svg"
       version="1.1"
       width="63.875507"
       height="63.964371"
       id="svg2">
      <defs
         id="defs4" />
         <pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
            <image xlink:href="/static/images/brother-brigham.jpg" x="0" y="0" width="85" height="85" />
        </pattern>
      <metadata
         id="metadata7">
        <rdf:RDF>
          <cc:Work
             rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type
               rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            <dc:title></dc:title>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <g
         transform="translate(-8.9495556,-967.3987)"
         id="layer1">
        <path
           d="m 70.275064,46.97427 a 29.387754,29.387754 0 1 1 -58.775508,0 29.387754,29.387754 0 1 1 58.775508,0 z"
           transform="translate(0,952.36218)"
           id="path2989"
           style="fill-opacity:1;stroke-width:5.0999999;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" 
           class="svg-border"/>
        <path
           d="M 12.138421,77.000887 67.080745,18.225377 z"
           transform="translate(0,952.36218)"
           id="path3763"
           style="stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" 
           class="svg-axis"/>
        <path
           d="m 32.980793,72.204206 c -1.460475,-0.476172 -4.207223,-1.85845 -6.103885,-3.07173 -17.5037911,-11.19704 -16.074029,-36.44936 2.586054,-45.674625 4.135322,-2.044441 5.564993,-2.41738 9.987658,-2.605347 8.10203,-0.344343 14.593776,2.105391 20.045675,7.564464 12.872715,12.889651 9.013156,34.522237 -7.569055,42.42408 -3.639651,1.734386 -4.902338,1.994275 -10.221827,2.103877 -3.712629,0.07649 -7.100265,-0.211116 -8.72462,-0.740719 z"
           transform="translate(0,952.36218)"
           id="path3761"
           style=";fill-opacity:1;stroke-width:3.25820756;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           class="svg-middle"
           fill="url(#img1)"
           />
      </g>
    </svg>
</section>
<section class="personal-stats"></section>