// 2AC2E2 blue
// 86C69C green
// E4B359 yellow
.user-info {
    background-color: #2B2A29;
}

.user-info h4 {
    color: white;
}

body {
    font-family: 'Abel', sans-serif;
    /*font-family: 'Wire One', sans-serif !important;*/
}

h4 {
    font-family: 'Abel', sans-serif;
    /*font-family: 'Wire One', sans-serif !important;*/
}